<nav class="green darken-3">

    <div class="nav-wrapper ">

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/auth/logout">Logout</a></li>
            <li> <a style="height: 63px;"><img style="height: 45px; width:100px ; margin-top:10px;"
                        src="https://s24806.pcdn.co/wp-content/uploads/2018/07/FounderInstitute_Logo_courtesy_970.png"></img></a>
            </li>

        </ul>

        <a style=" margin-top:0px;" href="/dashboard" class="brand-logo center">Co-matching
            App</a>

        <ul id="nav-mobile" class="left hide-on-med-and-down">


            <li><a href="/dashboard">Home</a></li>
            <li><a href="/stories">Mentors Posts</a></li>

        </ul>
    </div>
</nav>