<h3><a><img style="height: 130px; width:280px"
            src="https://s24806.pcdn.co/wp-content/uploads/2018/07/FounderInstitute_Logo_courtesy_970.png"></img> </a>
    Founder Institute UAE</h3>
<div class="section">
    <p class="lead">Welcome to the Founder Institute Co-matching App</p>
</div>
<div class="divider"></div>
<div class="section">
    <a style="text-transform: none;" href="/auth/linkedin" class="btn green darken-2">
        <i class="fab fa-linkedin left"></i>
        Log In With Linkedin
    </a>
</div>